.stu {
    background-color: hsl(119, 84%, 51%);
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    margin-left: 30px;
    padding: 50px;
    border-radius: 25px;
    /* box-shadow: 0 12px 12px gray; */
    font-size: 25px;
}